.container{
    width: 465px;
    background-color: black;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    font-weight: bold;
    padding-top: 60px;
    box-sizing: border-box;
    padding-bottom: 25px;
}
.title{
    color:#f6f6f6;
    font-size: 44px;
    font-family: sans-serif;
}
input{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    border: 1px solid #b87eff;
    background-color: black;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    color: #f6f6f6;
}
input::-webkit-input-placeholder{
    color: #dfdfdf;
    font-weight: lighter;
    font-size: small;
   
}
#name{
    margin-top: 70px;
}

button{
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    color: #e4d4ff;
}
#buttonRegister{
    margin-top: 65px;
    background-color: #6200ed;
}
#buttonSingIn{
    margin-top: 20px;
    background-color: #3700b3;
}
.hide{
    display: none;
}
