.container {
    width: 630px;
    height: 400px;
    /*margin: 0 auto;*/
    overflow: hidden;
    box-shadow: 0 10px 5px gray;
    margin-top: 100px;
}

img {
    min-width: 100%;
    min-height: 100%;
}
