body{
    background-color: black;
    text-align: center;
    padding-top: 100px;
}
a{
    color: yellow;
    font-size: 45px;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: rgb(0, 255, 68);
    font-size: 55px;
}