* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    text-align: center;
    box-sizing: border-box;
    padding: 30px 40px;
    margin-left: 0px;
}

/* Style the list items */
ul li {
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
    margin-left: 0;
    box-sizing: border-box;
    list-style: none;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-inline-start: 0;
    margin-left: 0;
}

/* Darker background-color on hover */
ul li:hover {
    border-color: #f44336;
}

/* When clicked on, add a background color and strike out text */


/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
    justify-content: center;
}

/* Style the input */
input {
    /* margin: 0; */
    border: none;
    border-radius: 0;
    width: 30%;
    padding: 10px;
    font-size: 16px;
}
.testBlock{
    margin-right: 4px;
}
/* Style the "Add" button */
.btnTop {
    padding: 10px;
    width: 15%;
    background: #ffffff;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0;
    border: none;
}

.btnTop:hover {
    background-color: #bbb;
    color: white;
}

.btnBlock {
    padding: 10px;
    width: 15%;
    background: #ffffff;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0;
    border: none;
}

.btnBlock:hover {
    background-color: #f44336;
    color: white;
}
