body {
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 200px;
    justify-content:space-evenly;
    background-color: rgb(246, 239, 47);
    margin: 0 auto;
    box-shadow: 0px 5px 10px grey;
    text-align:justify;
    margin-top: 5%;
}
.date {
    font-size: 2rem;
    color: rgb(28, 101, 248);
    text-align: center;
}

.valuta {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

table {
    
    font-weight: bold;
}
tr {
    margin-top: 50px;
    margin-bottom: 50px;
}
td {
    padding: 10px;
    border: 1px solid black;
}
#bTn {
    cursor: pointer;
    background-color: rgb(28, 101, 248);
    color: rgb(246, 239, 47);
    font-size: 1rem;
    height: 4rem;
    border: none;
    border-radius: 35px;
    
}
