body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
}
img{
    max-width: 100%;
    height: auto;
}
header {
    background-image: url(./img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: #0DD42B;
    
}
.header__nav__wrapper{
    min-height: 8.33vw;
    background-color: rgba(0, 0, 0, 0.7098039215686275);
    padding-top:1%;
}
.header__nav__wrapper>div{
    padding-left: 3%;
    padding-right: 3%;
}
.header__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__logo :nth-child(1){
    width: 53px;
    margin-bottom: 5px;
}
.header__logo :nth-child(2){
    width: 154px;
}
.navbar-expand-lg{
    font-size: 18px;
}
.navbar-toggler-icon-bg{
    background-image: url(./img/icons8-меню.svg);
    width: 50px;
    height: 50px;
    display: block;
}
.nav-link{
    color: rgb(255, 255, 255);
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: #0DD42B;
}
.navbar-nav li{
    margin: 20px;
}
.header__icons a{
    margin: 10px;
}
.header__form{
    margin-top: 5%;
    height: 389px;
    width: 352px;
    background-color: rgba(0, 0, 0, 0.7294117647058823);
    padding-top: 45px;
    margin-right: 5%;
}
.header__form__conteiner{
    text-align: center;
}
.header__form__conteiner>h3{
    text-transform: uppercase;
    color: white;
    font-size: 28px;
}
.header__form__conteiner>h4{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}
.header__form__conteiner input{
    width: 250px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid white;
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}
.header__form__conteiner input::-webkit-input-placeholder{
    color: white;
}
.header__form__conteiner>button{
    margin-top: 40px;
    width: 263px;
    height: 40px;
    background-color:rgba(10, 163, 33, 1) ;
    color: white;
    margin:0 auto;
    cursor: pointer;
    border: none;
    margin-top: 45px;
} 
article{
    padding: 4%;
}
article>h2{
    text-align: center;
    font-size: 48px;
}
.article__img{
    text-align: end;
    margin-right: 7%;
    margin-top: 3%;
    left: 13%;
    position: relative;
    z-index: 1;
}
.article__text{
    max-width: 472px;
    margin-top: 7%;
    text-align: start;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    z-index: 2;
}
.services{
    background-image: url(./img/background2.png);
    background-size: cover;
    min-height: 70vh;
}
.dark{
    width: 100%;
    min-height: 70vh;
    background-color: rgba(5, 11, 5, 0.6);
    padding: 3%;
}
.services__container h2{
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
    margin-bottom: 5%;
    font-size: 48px;
}
.col-sm-4{
    position: relative;
    z-index: 2;
}
.col-sm-4 div:nth-child(1){
    max-width: 280px;
}
.services__item{
    max-width: 260px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}
.services__item a{
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin-top: 5%;
}
.services__item a:hover{
    color: #0DD42B;
    cursor: pointer;
}
.content{
    min-height: 570px;
}
footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}
.footer__container{
    padding: 3%;
}
.footer__section-1{
    max-width: 180px;
    text-align: center;
}
.footer__container__icons{
    margin-top: 10%;
}
.footer__container__icons a{
    margin-right: 10%;
}
.footer__section-2__block>div a{
    color: white;
    font-size: 23px;
    text-decoration: none;
    display: block;
    min-width: 140px;
    text-align: end;
}
.footer__section-2__block>div a:hover{
    color: #0DD42B;
    cursor: pointer;
}
.footer__section-2>a{
    text-decoration: none;
    color: white;
    text-align: end;
    display: block;
    margin-top: 3%;
    font-size: 12px;
}
.footer__section-2>a:hover{
    color: #0DD42B;
    cursor: pointer;
}
