body{
    background-color: black;
}
.saleBtn{
    width:200px;
    height:50px;
    border-radius:50px;
    background-color:rgb(12, 12, 12);
    position: fixed;
    color: rgb(79, 214, 12);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px rgb(79, 214, 12);
    border: none;
  }
