body{
    background-color: black;
    text-align: center;
}
.text{

margin-top: 50px;
}
#text{
    color: yellow;
    border: 1px solid yellow; 
    background-color: black;
    padding: 5px;
}
#save{
    color: yellow;
    border: 1px solid yellow; 
    background-color: black;
    padding: 5px;
}