
:root{
    background-color: rgb(151, 151, 151);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
main{
    width: 1401px;
    background-color: white;
    margin: 0 auto;
}
header{
    width: 1401px;
}

a{
    text-decoration: none;
}

.header{
    width: 1401px;
    background-color: rgba(76, 177, 202);
    padding-left: 186px;
    padding-right: 186px;
    box-sizing: border-box;
}

.header__select{
    width: 260px;
    float: left;
}
.custom-lang{
    font-size: 13px;
    margin-top: 13px;
    float: left;
}
.custom-lang::before{ content: "language";
    color: #BEF2FF;
    font-size: 13px;
}
    select{
        background-color: rgba(76, 177, 202, 1);
        border: none;
        color: white;
}
/*меню выбора валюты*/
.custom-mony{
    font-size: 13px;
    float: left;
    margin-top: 13px;
    margin-left: 20px;
}
.custom-mony::before{ content: "Currency";
    color: #BEF2FF;
    font-size: 13px;
}
.header__menu{
    float: right;
    list-style-type: none;
    text-align: justify;
    margin-top: 13px;
}
.header__menu li{
    display: inline;
    margin: 7px;
    padding: 7px;
    position: relative;
}
.header__menu a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-weight: bold;
} 
.header__menu li+li::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 13px;
    border-left: 1px solid white;
    position: absolute;
    top: 10px;
    left: -10px;
}
.clear{
    clear: both;
}

.header__nav{
    box-sizing: border-box;
    width: 1401px;
    padding-bottom: 30px;
}
.header__nav__conteiner{
    width: 1030px;
    margin: 0 auto;
}
.header__nav__conteiner__logo{
    display: block;
    margin-top: 40px;
    float: left;
}
/*меню магазина*/
.header__nav__conteiner__menu{
    list-style-type: none;
    text-align: justify;
    margin-top: 40px;
    margin-left: 12px;
    float: left;
}
.header__nav__conteiner__menu li{
    display: inline;
    line-height: 8px;
    margin: 9px;
}
/*изменение при наведении*/
.header__nav__conteiner__menu a:hover {
    border: solid .5px;
    border-color:  rgba(76, 177, 202, .8);
    border-radius: 10%;
    }
.header__nav__conteiner__menu a{
    text-decoration: none;
    font-size: 14px;
    color:#656565;
    text-transform: uppercase;
    font-weight: bold;
}
/*кнопка поиска*/
/* Style the search field */
form.header__nav__conteiner__form input[type=text] {
    padding: 3px;
    font-size: 14px;
    border: 1px solid rgba(198, 198, 198, 1);
    color: rgba(76, 177, 202, 1);
    float: left;
    margin-top: 40px;
    margin-left: 80px;
    width: 175px;
    height: 24px;
}
  
/* Style the submit button */
form.header__nav__conteiner__form button {
    float: left;
    padding: 2px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: white;
    margin-top: 45px;
    margin-left: -20px;
}
.green1{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: rgba(125, 177, 34, 1);
    float: left;
    margin-left: 19px;
    margin-top: 35px;
}
.green2{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: rgba(125, 177, 34, 1);
    float: left;
    margin-left: 7px;
    margin-top: 35px;
}
.tag{
    height: 17px;
    width: 20px;
    background-image: url('./img/tag.png');
    background-repeat: no-repeat;
    margin-top: 9px;
    margin-left: 9px;
    position: absolute;
}
.cart{
    height: 17px;
    width: 20px;
    background-image: url('./img/cart.png');
    background-repeat: no-repeat;
    margin-top: 9px;
    margin-left: 7.5px;
    position: absolute;
}
.amount{
    height: 12px;
    width: 59px;
    font-size: 14px;
    font-weight: bold;
    color: #656565;
    text-transform: uppercase;
    float: right;
    margin-top: 42px;
    margin-right: 10px;
}
.banner{
    width: 1401px;
    height: 475px;
    position: relative;
    overflow: hidden;
}
.banner__text1{
    height:47px;
    width: 285px;
    background-color: rgba(55, 50, 50, .6);
    text-transform: uppercase;
    color: rgb(255, 255, 255, .7);
    font-size: 29px;
    padding-left: 10px;
    top: 0;
    padding-top: 5px;
    margin-left: 235px;
    margin-top: 185px;
    position:absolute;
}
.banner__text2{
    height:47px;
    width: 329px;
    background-color: rgba(55, 50, 50, .6);
    color: rgb(255, 255, 255);
    font-size: 29px;
    padding-left: 10px;
    padding-top: 3px;
    top: 0;
    margin-left: 235px;
    margin-top: 240px;
    position:absolute;
    font-weight:bolder;
    text-transform: uppercase;
}
.banner__arrow-right{
    position: absolute;
    border-radius: 50%;
    height: 68px;
    width: 68px;
    background-image: url('./img/Right Nav.png');
    top: 0;
    margin-left: 1205px;
    margin-top: 203px;
}
.banner__arrow-left{
    position: absolute;
    border-radius: 50%;
    height: 68px;
    width: 68px;
    background-image: url('./img/Left Nav.png');
    top: 0;
    margin-left: 114px;
    margin-top: 203px;
}

.conteiner{
    width: 1401px;
    box-sizing: border-box;
    margin-top: 40px;
}
.conteiner__2{
    width: 1030px;
    margin: 0 auto;
}
.conteiner__2__shop{
    width: 770px;
    float: left;
}

.conteiner__2__shop__name{
    font-size: 24px;
    color: #635F57;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.conteiner__2__shop__block{
    width: 770px;
    clear: both;
    margin-bottom: 25px;
}
.conteiner__2__shop__block__box{
    width: 238px;
    height: 320px;
    float: left;
    margin-right: 27px;
    box-shadow: 0px 0px 1px 2px hsl(0, 0%, 93%);
    box-sizing: border-box;
    padding: 10px;
}
.conteiner__2__shop__block :nth-child(3){
    margin-right: 0px;
}
.conteiner__2__shop__block__box__back{
    background-color: rgb(239, 241, 240);
    height: 220px;
}
.conteiner__2__shop__block__box__back__img{
    margin-left: 5px;
    margin-top: 20px;
}
.conteiner__2__shop__block__box__back__stock-right{
    position: absolute;
    margin-left: -83px;
    margin-top: -2px;
}
.conteiner__2__shop__block__box__back__stock-left{
    position: absolute;
    margin-left: -224px;
    margin-top: -2px;
}
.conteiner__2__shop__block__box__back__text{
    color: #464148;
    font-size: 14px;
    margin-top: 20px;
    width: 150px;
    float: left;
}
.price{
    color: rgba(125, 177, 34, 1);
    font-size: 16px;
}
.price_crossed_out{
    text-decoration: line-through;
}
.conteiner__2__shop__block__box__back>button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color:rgba(125, 177, 34, 1);
    background-image: url(./img/basket.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}


.conteiner__2__aside{
    width: 234px;
    float: right;
}
.conteiner__2__aside_block-1{
    width: 234px;
    box-shadow: 0px 0px 1px 2px hsl(0, 0%, 93%);
    padding: 12px;
    box-sizing: border-box;
}
.conteiner__2__aside_block-1-box{
    margin-top: 25px;
    position: relative;
}
.conteiner__2__aside_block-1__box__img-slider{
    width: 207px;
    margin-top: 80px;
}
.conteiner__2__aside_block-1__box__text{
    text-transform: uppercase;
    font-size: 24px;
    color: #635F57;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50px;
}
.conteiner__2__aside_block-1-box>button{
    height: 45px;
    width: 133px;
    background-color: rgba(76, 177, 202, 1);
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 40px;
    top: 350px;
}
.conteiner__2__aside_block-1__indicator{
    width: 234px;
    box-shadow: 0px 0px 1px 2px hsl(0, 0%, 93%);
    box-sizing: border-box;
}
.conteiner__2__aside_block-1__indicator__point{
    text-align: justify;
    margin-left: 17%;
    margin: 0;
    padding-top: 10px;
    padding-left: 35%;
    box-sizing: border-box;
}
.conteiner__2__aside_block-1__indicator__point li{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(125, 177, 34, 1);
    line-height: 10px;
    margin: 5px;
}
.conteiner__2__aside_block-1__indicator__point :nth-child(1){
    background-color: rgba(76, 177, 202, 1);
}
.conteiner__2__aside_block-2{
    width: 234px;
    box-shadow: 0px 0px 1px 2px hsl(0, 0%, 93%);
    padding: 20px;
    box-sizing: border-box;
    border-top: 3px solid rgba(76, 177, 202, 1);
    margin-top: 30px;
}
.conteiner__2__aside_block-2__text-1{
    font-size: 24px;
    text-transform: uppercase;
    color: #635F57;
    text-align: center;
}
.conteiner__2__aside_block-2__text-2{
    font-size: 14px;
    color: #635F57;
    text-align: center;
    margin-top: 20px;
}
.conteiner__2__aside_block-2__line{
    height: 0px;
    width: 86px;
    box-shadow: 0px 0px 1px 1px hsl(0, 0%, 93%);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 28%;
}
/*кнопка поиска*/
/* Style the search field */
form.conteiner__2__aside_block-2__form input[type=text] {
    padding: 3px;
    font-size: 14px;
    border: 1px solid rgba(198, 198, 198, 1);
    color: rgba(76, 177, 202, 1);
    width: 185px;
    height: 30px;
    margin-top: 20px;
}
  
/*Style the submit button*/
form.conteiner__2__aside_block-2__form button {
    float: left;
    padding: 2px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: white;
}
.conteiner__2__aside_block-2>button{
    height: 45px;
    width: 110px;
    background-color: rgba(125, 177, 34, 1);
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    margin-left: 20%;
    margin-top: 20px;
}
footer{
    width: 100%;
    background-color: rgba(76, 177, 202);
   
}
.footer__call-to-action{
    width: 100%;
    background-color: rgb(76, 177, 202);
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    box-sizing: border-box;
}
.footer__call-to-action__2{
    width: 1030px;
    margin: 0 auto;
}
.footer__call-to-action__2__block-1>{
    float: left;
}
.footer__call-to-action__2__block-1>a>img{
    float: left;
    margin-right:20px;
}
.footer__call-to-action__2__block-1>div{
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    float: left;
    margin-top: 20px;
}
.footer__call-to-action__2__block-2{
    float: right;
    margin-right: 30px;
}
.footer__call-to-action__2__block-2>div{
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    float: right;
    margin-top: 20px;
    white-space:pre;
}
.footer__call-to-action__2__block-2>a>img{
    float: left;
    margin-right:20px;
}
.footer__contacts{
    width: 100%;
    background-color: rgb(57, 160, 185);
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.footer__contacts__2{
    width: 1030px;
    margin: 0 auto;
}
.footer__contacts__2__block-1{
    width: 240px;
    float: left;
    margin-right: 47px;
}

.footer__contacts__2__block-2{
    width: 227px;
    float: left;
    margin-right: 57px;
}
.footer__contacts__2__block-3{
    width: 190px;
    float: left;
    margin-right: 54px;
}
.footer__contacts__2__block-4{
    width: 200px;
    float: left;
}
.footer__contacts__2__name{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 25px;
    display: block;
}
.footer__contacts__2__text{
    font-size: 13;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}
.footer__contacts__2__block-1__photos{
    margin-left: -20px;
    position: relative;
    margin-top: 17px;
}
.footer__contacts__2__block-1__photos__ul{
    margin-left: -20px;
}
.footer__contacts__2__block-1__photos__ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 8px;
}
.footer__contacts__2__block-1__photos li:nth-child(4){
    margin-right: 0px;
}
.footer__contacts__2__block-1__photos ul:nth-of-type(2){
    margin-top: -8px;
}
.footer__contacts__2__block-1__photos::before{
    content: "";
    height: 10px;
    width: 230px;
    color: rgb(255, 255, 255, .7);
    border-top: .7px solid rgb(255, 255, 255, .2);
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
}
.footer__contacts__2__block-1__photos::after{
    content: "";
    height: 10px;
    width: 230px;
    color: rgb(255, 255, 255, .7);
    border-top: .7px solid rgb(255, 255, 255, .2);
    position: absolute;
    margin-left: 20px;
    margin-top: -8px;
}
.footer__contacts__2__block-2__section{
    width: 100%;
}
.footer__contacts__2__block-2__section>a{
    float: left;
}
.footer__contacts__2__block-2__section>div{
    float: left;
    width: 165px;
    color:rgb(255, 255, 255);
    font-size: 13px;
    height: 70px;
    width: 165px;
    overflow: hidden;
    transition: 0,3s all linear;
    margin-left: 10px;
    margin-bottom: 30px;
}
.footer__contacts__2__block-2__section>div>a{
    color: #8ADCF0;
}
.footer__contacts__2__block-2__section>div:hover{
    color:rgb(255, 255, 255);
    font-size: 13px;
    height: 100%;
    width: 165px;
    background-color: rgba(11, 75, 90, 1);
}
.footer__contacts__2__block-3>ul{
    list-style-type: none;
    margin-left: -19px;
}
.footer__contacts__2__block-3>ul>li{
    font-size: 13px;
    line-height: 26px;
}
.footer__contacts__2__block-3>ul>li>a{
    color: rgb(255, 255, 255);
}
.footer__contacts__2__block-3>ul>li ::before{
    content:">";
    display: block;
    width: 48px;
    height: 48px;
    color:rgba(255, 255, 255);
    position: absolute;
    margin-left: -20px;
    margin-top: 0px;
}
.footer__contacts__2__block-4__text{
    color: rgba(255, 255, 255);
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 30px;
}
.footer__contacts__2__block-4__text a{
    color: rgba(255, 255, 255);
}
.footer__contacts__2__block-4__text::after{
    content: "";
    height: 0px;
    width: 199px;
    color: rgb(255, 255, 255, .7);
    border-top: .7px solid rgb(255, 255, 255, .2);
    margin-top: 36px;
    position: absolute;
    margin-left: -100px;
}
.footer__contacts__2__block-4__social-networks>a>img{
    float: left;
    margin-right: 10px;
}
.footer__footer{
    width: 100%;
    background-color: rgb(11, 75, 90);
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.footer__footer__2{
    width: 1030px;
    margin: 0 auto;
}
.footer__footer__2>div{
    color: #8ADCF0;
    font-size: 13px;
}
.footer__footer__2>ul{
    list-style-type: none;
    margin-top: -20px;
    margin-bottom: 0;
    float: right;
}
.footer__footer__2>ul>li{
    display: inline;
    font-size: 13px;
    margin-right: 15px;
}
.footer__footer__2>ul>li>a{
    color: #8ADCF0;
}
.footer__footer__2>ul>li+li::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 13px;
    border-left: 1px solid #8ADCF0;
}
























