.button{
    background-color: black;/*Як перенести текст в кнопці*/
    color: white;
    width: 550px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
    text-align: center;
}