body{
    padding: 0;
    margin: 0;
}
:root{
    background-color: rgba(151, 151, 151, 0.896);
}
main{
    width: 755px;
    background-color: rgb(242, 242, 242);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.h2{
    font-family: 'Merriweather';
    color: rgb(83, 22, 4);
}
.h2::after{
    content: "";
    display: block;
    width: 698px;
    height: 5px;
    background-image: url(./img/wave.png);
    position: absolute;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.section{
    width: 699px;
    margin-left: 0px;
    margin-top: 50px;
    box-sizing: border-box;
}
.section__block{
    width: 699px;
    background-color: blueviolet;
    
}
.section__block__photo{
    float: left;
    width: 147px;
    margin-bottom: 28px;
    box-sizing: border-box;
}
.section__block__photo__dish img{
    width: 140px;
    height: 95px;
}
.section__block__photo__dish :hover{
    opacity: .7;   
}

.section__block__content{
    width: 537px;
    float: left;
    box-sizing: border-box;
    margin-left: 12px;
    margin-top: 20px;
    padding: 0;
}

.section__block__conten__text{
    width: 537px;
    box-sizing: border-box;
}
.h3{
    margin-top: -5px;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    height: auto;
    width: auto;
    z-index: 4;
} 
.h3__price:hover{
    color: rgb(149, 151, 5);
}
.h3__name{
    background-color: rgb(242, 242, 242);
    color: rgb(188, 151, 83);
    z-index: 3;
    padding-right: 10px;
}
.h3__price{
    background-color: rgb(242, 242, 242);
    color: rgb(188, 151, 83);
    float: right;
    bottom: 23px;
    position: relative;
    padding-left: 10px;
}
.h3__name::after{
    content: "";
    display: block;
    border-bottom: 2px #a8a8a8 dotted;
    width: 500px;
    height: 16px;
    bottom: 3px;
    position: absolute;
    z-index: -1;
}

p{
    color: #546670;
    font-family: 'roboto';
    font-size: 15px;
    width: 537px;
    margin-top: -10px;
}
/*

.name{
    float: left;
    padding-right: 10px;
    position: relative;
}

.price{
    float: right;
    padding-left: 10px ;
}*/
.clear{
    clear: both;
}



