.container{
    width: 600px;
    height: 100px;
    box-shadow: 0 0 20px gray;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
    text-align: center;
}
.span{
    display: block;
    position: relative;
}
.input{
    margin-top: 20px;
}
.button{
    text-align: center;
    position: relative;
}

.error{
    color: brown;
    text-align: center;
}
