.container{
    width: 500px;
    height: 300px;
    background-color: #3f69ff;
    margin: 0 auto;
    border-radius: 33px;
    box-shadow: 0 0 10px #7901cf;
    margin-top: 10%;
    position: relative;
}

.timeBlock{
    margin: 0 auto;
    width: 400px;
    top: 30px;
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    box-sizing: border-box;
    color: azure;
    background-color: rgb(0, 0, 0);
    border-radius: 35px;
}

.buttonsContainer{
    margin: 0 auto;
    width: 400px;
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    top: 80px;
}
button{
    background:  linear-gradient(45deg, #7901cf, #3171fb);
    width: 100px;
    height: 40px;
    border-radius: 18px;
    color: azure;
    border:1px solid rgb(255, 255, 255);
    font-size: large;
}
button:hover{
    border: 3px solid rgb(255, 255, 255);
}

