* {
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;;
}
.wrapper{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}
.header{
    grid-area: header;
    padding-top: 33px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(auto, 526px) minmax(auto, 465px) minmax(auto, 270px) 1fr;
    align-items: center;
}
.header__logo{
    grid-column: 2 / 3;
    justify-items: first baseline;
}
.header__logo>img{
    width: 305px;
    height: 64px; 
}
.header__search-box{
    grid-column: 4 / 5;
    width: 270px;
    height: 40px;
}
.header__search-box__txt{
    width: 270px;
    height: 40px;
    border-radius: 20px;
    text-align: right;
    font-size: 12px;
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 35px;
}
.header__search-box__txt[type=search]{
    border: 1px solid #A04955;
}
.header__search-box__txt::-webkit-input-placeholder{
    color: #787878;
}
.header__search-box__txt :placeholder-shown{
    color: black;
}
.header__menu{
    font-size: 20px;
    grid-column: 3 / 4;
}
.header__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 0;
    padding: 0;
}
.header__list li{
    margin-right: 45px;
}
.header__list li a{
    color: black;
}
.main{
    grid-area: main;
}
.main__article-1{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 630.5px) minmax(auto, 630.5px) 1fr;
    grid-template-rows: minmax(auto, 745px);
}
.main__article-1__text{
    grid-column: 2/3;
}
.main__article-1__text>h1{
    width: 578px;
    height: auto;
    font-size: 65px;
    font-weight: 700;
    margin-top: 208px;
    margin-bottom: 0;
}
.main__article-1__text>div{
    width: 578px;
    height: auto;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Open Sans', sans-ser;
}
.main__article-1__text>button{
    width: 240px;
    height: 50px;
    font-size: 24px;
    background-color: white;
    border: 0.5px solid;
    font-family: 'Open Sans', sans-ser;
    font-weight: lighter;
    margin-top: 25px;
    cursor: pointer;
}
.main__article-1__gallery{
    grid-column: 3/4;
    position: relative;
}
.main__article-1__gallery__item-1{
    width: 495px;
    height: 465px;
    border: 1px solid #A04955;
    z-index: 1;
    position: absolute;
    top: 220px;
    left: 0px;
}
.main__article-1__gallery__item-2{
    height: 465px;
    width: 517px;
    background-color: #A04955;
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 100px;
}
.main__article-1__gallery>img{
    z-index: 3;
    position: absolute;
    top: 105px;
    left: 40px;
}
.main__shop-1{
    background-color: #F1F1F1;
}
.main__shop-1__conteiner{
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(auto, 280px)) 1fr;
    grid-template-rows: minmax(auto, 410px);
    column-gap: 55px;
    padding-top: 50px;
    padding-bottom: 79px;
}
.main__shop-1__text{
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    padding-top: 80px;
}
.main__shop-1__title{
    font-size: 62px;
    font-weight: 500;
    text-align: center;
}
.main__shop-1__product-item{
    max-width: 280px;
    max-height: 416px;
    background-color: white;
    padding: 32px;
}
.main__shop-1__conteiner :nth-child(1){
    grid-column: 2/3;
}
.main__shop-1__conteiner :nth-child(2){
    grid-column: 3/4;
}
.main__shop-1__conteiner :nth-child(3){
    grid-column: 4/5;
}
.mmain__shop-1__conteiner :nth-child(4){
    grid-column: 5/6;
}
.main__shop-1__product-item a>img{
    display: block;
    margin: 0 auto;
}
.main__shop-1__product-item__title{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}
.main__shop-1__product-item ul{
    padding: 0px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
}
    
.main__shop-1__product-item ul>li{
    display: inline;
}
.main__shop-1__product-item__text{
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}
.main__shop-1__product-item__text>span{
    font-weight: 600;
}

.main__shop-1__product-item>button{
    display: block;
    margin: 0 auto;
    background-color: #A04955;
    border: none;
    color: white;
    height: 35px;
    width: 130px;
    text-align: right;
    background-image: url(./img/basket.png);
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 7px;
    font-size: 18px;
    letter-spacing: 0.2px;
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
    cursor: pointer;
}
.main__article-2{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 720px) minmax(auto, 541px) 1fr;
    grid-template-rows: minmax(auto, 825px);
}
.main__article-2__gallery{
    grid-column: 2/3;
    position: relative;
}
.main__article-2__gallery__item-1{
    height: 465px;
    width: 518px;
    border: 1px solid #A04955;
    position: absolute;
    z-index: 1;
    top: 258px;
}
.main__article-2__gallery__item-2{
    height: 465px;
    width: 517px;
    border: 1px solid #A04955;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 143px;
}
.main__article-2__gallery>img{
    height: 620px;
    width: 660px;
    position: absolute;
    z-index: 3;
    top: 90px;
}
.main__article-2__text{
    grid-column: 3/4;
}
.main__article-2__text>h2{
    font-size: 60px;
    font-weight: 700;
    margin-top: 130px;
}
.main__article-2__text>div{
    width: 550px;
    font-size: 24px;
    font-family: 'Open Sans', sans-ser;
    font-weight: lighter;
}
.main__article-2__text>button{
    height: 50px;
    width: 240px;
    background-color: white;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Open Sans', sans-ser;
    border: solid 0.5px black;
    margin-top: 30px;
    cursor: pointer;
}
.main__shop-2{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 550px) minmax(auto, 550px) 1fr;
    grid-template-rows: minmax(auto, 745px);
    column-gap: 36px; 
    background-color: #F5F5F5;
    padding-top: 107px;
    padding-bottom: 107px;
    box-sizing: border-box;
}
.main__shop-2__item-1{
    grid-column: 2/3;
    width: 550px;
}
.main__shop-2__fhoto{
    width: 550px;
    height: 516.84px;
    position: relative;
}
.main__shop-2__item-2{
    grid-column: 3/4;
    width: 550px;
}
.main__shop-2 img{
    position: absolute;
    z-index: 1;
}
.main__shop-2__item__fhoto__box{
    width: 550px;
    height: 86px;
    background-color:rgba(160, 73, 85, 70%);
    position: absolute;
    z-index: 2;
    bottom: 0px;
    padding-top: 17px;
}
.main__shop-2__item__fhoto__box__text{
    font-size: 36px;
    color: white;
    text-align: center;
}
.main__shop-2__item__text{
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-ser;
    font-weight: lighter;
    margin-top: 35px;
}
.main__shop-2__item__button{
    display: block;
    margin: 0 auto;
    background-color: rgba(241, 241, 241, 1);
    width: 366px;
    height: 50px;
    font-size: 24px;
    font-family:'Open Sans', sans-ser;
    font-weight: lighter;
    text-align: center;
    margin-top: 34px;
    border: 0.5px solid black;
    cursor: pointer;
}
.main__article-3{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 550px) minmax(auto, 550px) 1fr;
    grid-template-rows: minmax(auto, 610px);
    position: relative;
}
.main__article-3__background{
    grid-column: 1/5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.main__article-3__text-conteiner{
    grid-column: 2/3;
    position: absolute;
    z-index: 2;
}
.main__article-3__text-conteiner>h2{
    color: white;
    font-size: 65px;
    margin-bottom: 10px;
}
.main__article-3__text-conteiner>div{
    width: 490px;
    color: white;
    font-size: 24px;
    font-family: 'Open Sans', sans-ser;
    font-weight: lighter;
}
.main__article-3__text-conteiner>button{
    width: 405px;
    height: 50px;
    background-color: rgba(160, 73, 85, 1);
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', sans-ser;
    font-weight: lighter;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
.main__shop-3{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
    grid-template-rows: minmax(auto, 700px);
    padding: 90px;
}
.main__shop-3__conteiner{
    width: 100%;
    height: 339px;
    object-fit: cover;
    background-color: rgba(160, 73, 85, 1);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 314px) 1fr minmax(auto, 314px) 1fr minmax(auto, 314px) 1fr;
    grid-template-rows: minmax(auto, 96px) minmax(auto, 352px);
}
.main__shop-3__conteiner__title{
    font-size: 65px;
    text-align: center;
    color: white;
    grid-column: 1/8;
    margin-top: 5px;
}
.main__shop-3__conteiner__content-box{
    width: 314px;
    height: 352px;
    background-color: white;
    margin-top: 30px;
    border: 0.5px solid rgba(160, 73, 85, 1);
    display: grid;
    grid-template-columns: 1fr minmax(auto, 242px) 1fr;
    grid-template-rows: minmax(auto, 214px) minmax(auto, 36px) minmax(auto, 40px);
    padding-top: 5px;
}
.main__shop-3__conteiner :nth-child(2){
    grid-column: 2/3;
}
.main__shop-3__conteiner :nth-child(3){
    grid-column: 4/5;
}
.main__shop-3__conteiner :nth-child(4){
    grid-column: 6/7;
}
.main__shop-3__conteiner__content-box :nth-child(1){
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
    object-fit: cover;
    justify-self: center;

}
.main__shop-3__conteiner__content-box__img1{
    width: 235px;
}
.main__shop-3__conteiner__content-box__img2{
    width: 185px;
}
.main__shop-3__conteiner__content-box__img3{
    width: 230px;
}
.main__shop-3__conteiner__content-box :nth-child(2){
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    font-weight: bolder;
}
.main__shop-3__conteiner__content-box :nth-child(3){
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 15px;
    border: none;
    background-color: rgba(160, 73, 85, 1);
    color: white;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-ser;
    cursor: pointer;
}
.main__article-4{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1214px) 1fr;
    grid-template-rows: minmax(auto, 412px);
    
}
.main__article-4__conteiner{
    grid-column: 2/3;
    position: relative;
    background-color:rgba(243, 243, 243, 1);
}
.main__article-4__conteiner>img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -155px;
    max-width: 276px;
}
.main__article-4__conteiner>h2{
    text-align: center;
    font-size: 65px;
    margin-top: 130px;
    margin-bottom: 0;
}
.main__article-4__conteiner>div{
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-ser;
    margin-top: 20px;
}
.main__article-4__conteiner>button{
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-ser;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    width: 261px;
    height: 55px;
    cursor: pointer;
    background-color: rgba(243, 243, 243, 1);
    border: 0.5px solid black;
}
.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto,520px) minmax(auto,45px);
    margin-top: 50px;
}

.footer__conteiner-1{
    background-color: rgba(160, 73, 85, 1);
    display: grid;
    grid-template-columns: 1fr minmax(auto, 223px) 1fr minmax(auto, 179px) 1fr minmax(auto, 165px) 1fr minmax(auto, 627px) 1fr;
    padding-top: 50px;
}
.footer__conteiner-1__item-1{
    grid-column: 2/3;
}
.footer__conteiner-1__item-2{
    grid-column: 4/5;
}
.footer__conteiner-1__item-3{
    grid-column: 6/7;
}
.footer__conteiner-1__item-4{
    grid-column: 8/9;
}
.footer__conteiner-1__titele{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.footer__conteiner-1 ul{
    font-size: 18px;
    padding-left: 0;
    line-height: 43.39px;
}
.footer__conteiner-1 ul li{
    color: white;
    font-size: 18px;
    font-weight: normal;
}
.footer__conteiner-1__item-4__form-conteiner>input{
    width: 515px;
    height: 61px;
    background-color: white;
    font-size: 18px;
    color: rgba(160, 73, 85, 1);
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    box-sizing: border-box;
}
.footer__conteiner-1__item-4__form-conteiner>input::-webkit-input-placeholder{
    color: rgba(160, 73, 85, 1);
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}
.footer__conteiner-1__item-4__form-conteiner{
    position: relative;
}
.footer__conteiner-1__item-4__form-conteiner>button{
    position: absolute;
    width: 167px;
    height: 43px;
    background-color: rgba(160, 73, 85, 1);
    border: none;
    color: white;
    right: 120px;
    top: 9px;
    cursor: pointer;
}
.footer__conteiner-2{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1460px) 1fr;
    padding-top: 10px;
    box-sizing: border-box;
}
.footer__conteiner-2>div{
    grid-column: 2/3;
    align-items: start;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}