
.modal{
    display: none;
    /*position: fixed;*/
    z-index: 1;
    margin: 0 auto;
    top: 20%;
    width: 400px;
    height: 200px;
    background-color: rgb(134, 43, 226);
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(2, 2, 2);
}

.content{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20%;
    width: 70%;
    color: rgb(12, 12, 12);
    font-weight: bold;
    font-size: x-large;
}

.closeButton1{
    background-color: rgb(14, 14, 14);
    color: rgb(43, 226, 156);
    float: right;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    margin-top: 15%;
    border: none;
}
.closeButton1:hover{
    border: 2px solid rgb(43, 226, 156);
}
.closeButton2{
    background-color: rgb(14, 14, 14);
    position: relative;
    color: rgb(43, 226, 156);
    float: right;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin-top: 24%;
    border: none;
    z-index: -1;
    box-shadow: 5px 5px 10px rgb(134, 43, 226);
}
.closeButton2:hover{
    border: 2px solid rgb(43, 226, 156);
}

.show{
    border: 3px solid red;
}