.block {
    display: grid;
}

.field {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    justify-self: center;
}
button {
    height: 40px;
    font-size: 24px;
    color: rgb(4, 4, 4);
}
.up_menu {
    display: flex;
    justify-self: center;
    margin-top: 100px;
}
.newGame {
    height: 30px;
    color: rgb(88, 121, 253);
    padding-top: 7px;
    font-size: 16px;
    cursor: pointer;
    justify-self: center;
    margin-right: 7px;
}
.newGame:hover {
    color: rgb(40, 112, 255);
}
.flag_count {
    height: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 7px;
    font-size: 16px;
}

.bomb{
    background: rgb(255, 255, 255);
    background-image: url(./img3/mine.png);
    background-size: cover;}
.flag{
    background: rgb(255, 255, 255);
    background-image: url(./img3/flag.png);
    background-size: cover;
}