.wrapper{
    margin: 0 auto;
    width: 630px;
    position: relative;
}
.wrapperForImg {
    height: 400px;
    overflow: hidden;
    box-shadow: 0 10px 5px gray;
    margin-top: 40%;
}

img {
    min-width: 100%;
    min-height: 100%;
}

button{
    cursor: pointer;
    position: absolute;
    top: -5%;
    width: 100px;
    height: 50px;
    border: none;
    box-shadow: 0 3px 10px gray;
    background-color: transparent;
    color: rgb(213, 130, 21);
    font-weight: bold;
    font-size: 18px;
}
button:hover{
    border: 1px solid chocolate;
}
.buttonNext{
 right: -60px;
 transform: rotate(-45deg)
}


.buttonPrevious{
    left: -60px;
    transform: rotate(45deg)
}