main{
    padding-top: 20px;
    animation: show 3s;
    padding-left: 50px;
    padding-right: 50px;
    
    }
    @keyframes show {
    
    from {opacity: 0;} to {opacity: 1;}
    }
h1{
    text-align: center;
    color: rgb(40, 40, 40);
}
.imgContainer{
    margin: o auto;
    text-align: center;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 10px;
}
img:hover{
    transform: rotate(45deg);
}

.menu {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    margin-top: 20px;
}
.menu div {
    background-color: rgb(152, 207, 190);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 5px gray;
} 
 .menu :nth-child(1) {
    grid-row: 1;
    grid-column: 1/9;
}
.menu :nth-child(2) {
    grid-row: 2/4;
    grid-column: 1;
}
.menu :nth-child(3) {
    grid-row: 2;
    grid-column: 2/4;
}
.menu :nth-child(4) {
    grid-row: 2;
    grid-column: 4/7;
}
.menu :nth-child(5) {
    grid-row: 2;
    grid-column: 7/9;
}
.param {
    margin-top: 30px;
    display: flex;
    justify-content: center;  
}
.param :nth-child(1) {
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    
}
button{
    background-color: rgb(152, 207, 190);
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 3px 5px gray;
}
button:hover{
    background-color: rgb(46, 118, 95);
}
.param :nth-child(2) {
    margin-right: 10px;
}
.param :nth-child(3) {
    margin-right: 10px;
}
p{
    font-size: 18px;
    color: rgb(50, 50, 50);
    margin: 10px;
}
#calculate, #all_toppings, #get_stuffing, #get_size {
    display: inline-block;
    width: 200px;
    height: 30px;
    margin: auto auto 10px auto;
}
.paramContainer{
    justify-content: center;
    align-self: center;
}