:root{
    width: 751px;
    background-color: rgb(54, 143, 244) ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.block{
    width: 1301px;
    height: 824px;
    background-color: rgba(245, 232, 198, 1);
    margin-left:-260px;
    position: absolute;
    font-family: 'minionpro-regular';
}
header{
    width: 1301px;
    height: 71px;
    background-color: rgba(140, 10, 13, 1);
    position: absolute;
    font-family: 'minionpro-regular';
}
.logo{
    width: 177px;
    height: 41px;
    background-image: url('./logo roshen.png');
    margin-left: 67px;
    top: 15px;
    position: absolute;
}
.menu{
    list-style-type: none;
    text-align: justify;
    margin: 30px 234px 22px 369px;
    position: absolute;
    font-family: 'minionpro-regular';
}
.menu li{
    display: inline;
    line-height: 10px;
    margin: 9px;
}
.menu a{
    text-decoration: none;
    font-size: 14px;
    color:#FCC57E;
    font-family: minionpro-bold;
    text-transform: uppercase; 
}
.flag{
    height: 18px;
    width: 26px;
    background-image: url('./flag.png');
    position: absolute;
    margin-left: 1160px;
    margin-top: 28px;
}
.eng{
    height: 13px;
    width: 37px;
    position: absolute;
    color:#FCC57E;
    font-family: minionpro-bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 1197px;
    margin-top: 28px;
}
/*фоновое изображение*/
.photo1{
    width: 1301px;
    height: 753px;
    background-image: url('./1.png');
    position:initial;
    background-repeat: no-repeat;
}
.photo2{
    width: 1301px;
    height: 753px;
    background-color: rgba(245, 232, 198, .8);
    position: hidden;
    
}
.roshen{
    width: 1167px;
    height: 336px;
    background-repeat: no-repeat;
    background-image: url('./2.png');
    background-position-x: -2.3px;
    background-size:cover;
    position:absolute;
    border: 3px solid black;
    overflow: hidden;
    top: 96px;
    left: 64px;
}
/*ROSHEN в мире*/
.text{
    width: 455px;
    height: 54px;
    color: #35040C;
    font-size: 60px;
    margin-left: 360px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}
/*кнопка "узнать больше"*/
#botton{
    height: 43px;
    width: 190px;
    background-color: rgba(246, 204, 121, 1);
    border-radius: 10px;
    box-shadow: 0px 5px #BF670D;
    margin-left: 493px;
    margin-top: 24px;
    
}
.more{
    width: 155px;
    height: 23spx;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 6px;
    
}
.more a{
    font-family:'Times New Roman', Times, serif;
    color: #030303;
    text-decoration: none;
    text-shadow: 1px 0.4px 0px #4d4d4d;
    
}
/*слайдер*/
#aleft {
    width: 55px;
    height: 55px;
    background-image: url('./left-arrow-cir.png');
    margin-left: 28px;
    position: absolute;
}
#aright {
    z-index: 2;
    width: 55px;
    height: 55px;
    background-image: url('./right-arrow-cir.png');
    margin-left: 1085px;
    position: absolute;  
}

/*элипсы*/
.el1{
    height:16px;
    width: 16px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    margin-top: 155px;
    margin-left: 555px;
    transition: 0,3s all linear;   
}
.el1:hover{
    background-color: rgba(191, 103, 13, 1);
}
.el2{
    height:16px;
    width: 16px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    margin-top: 155px;
    margin-left: 579px;
    transition: 0,3s all linear;   
}
.el2:hover{
    background-color: rgba(191, 103, 13, 1);
}
.el3{
    height:16px;
    width: 16px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    margin-top: 155px;
    margin-left: 603px;
    transition: 0,3s all linear;   
}
.el3:hover:hover{
    background-color: rgba(191, 103, 13, 1);
}
/*блок текст*/
.text1{
    height: 64px;
    width: 269px;
    position: absolute;
    margin-top: 461px;
    margin-left: 65px;
    font-weight: 600;
    font-size: 17px;
}
.text2{
    height: 65px;
    width: 276px;
    position: absolute;
    margin-top: 461px;
    margin-left: 363px;
    font-weight: 600;
    font-size: 17px;
}
.text3{
    height: 89px;
    width: 233px;
    position: absolute;
    margin-top: 461px;
    margin-left: 662px;
    font-weight: 600;
    font-size: 17px;
}
.text4{
    height: 63px;
    width: 249px;
    position: absolute;
    margin-top: 461px;
    margin-left: 957px;
    font-weight: 600;
    font-size: 17px;
}
#text1{
    height: 64px;
    width: 269px;
    position: absolute;
    margin-top: 569px;
    margin-left: 65px;
    font-size: 16px;
}
#text2{
    height: 65px;
    width: 276px;
    position: absolute;
    margin-top: 569px;
    margin-left: 363px;
    font-size: 16px;
}
#text3{
    height: 89px;
    width: 233px;
    position: absolute;
    margin-top: 569px;
    margin-left: 662px;
    font-size: 16px;
}
#text4{
    height: 63px;
    width: 249px;
    position: absolute;
    margin-top: 569px;
    margin-left: 957px;
    font-size: 16px;
}
.futer{
    height: 71px;
    width: 1301px;
    background-color: rgba(140, 10, 13, 1);
}
.link{
    height: 14px;
    width: 192px;
    margin-left: 67px;
    margin-bottom: 21px;
    position: absolute;
    color: #FBC86B;
    text-decoration: none;
    margin-top: 36px;
    font-size: 14px;}
.adress{
    height: 38px;
    width: 148px;
    color: #FBC86B;
    font-size: 14px;
    position: absolute;
    margin-left: 361px;
    margin-top: 12px;
    line-height: 21px;
}
.phone{
    height: 37px;
    width: 144px;
    position: absolute;
    margin-left: 658px;
    margin-top: 12px;
}
.phone a {
    color: #FBC86B;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    line-height: 21px;
}
.email{
    height: 36px;
    width: 138px;
    position: absolute;
    margin-left: 957px;
    margin-top: 12px;
}
.email a {
    color: #FBC86B;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    line-height: 21px;
}
.fb{
    height: 28px;
    width: 28px;
    background-image: url('./facebok.png');
    position: absolute;
    margin-left: 1164px;
    margin-top: 21px;
}
.vk{
    height: 28px;
    width: 28px;
    background-image: url('./\vk.png');
    position: absolute;
    margin-left: 1205px;
    margin-top: 21px;
}

