.navbar {
    display: flex;
    justify-content: space-around;
    padding-left: 332px;
    padding-right: 371px;
    padding-top: 32px;
    padding-bottom: 35px;
    
    
    
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #16A085;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;

}
