* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.94vw;
}
body{
    margin: 0;
    width: 100%;
}
.clear{
    clear: both;
}
header{
    width: 100%;
    background-color:rgb(19, 18, 16);
    padding-top: 2.86vw;
    box-sizing: border-box;
}
.header-conteiner{
    width: 94vw;
    margin: 0 auto;
}
.header-conteiner__menu_logo-img>img{
    float: left;
    width: 3.12vw;
    height: 3.12vw;
    transition: 1s;
}
.header-conteiner__menu_logo-img>img:hover{
    transform: scale(1.2) rotate(360deg);
}
.header-conteiner__menu>button{
    float: right;
    width: 6.45vw;
    height: 3.33vw;
    border-radius: 5vw;
    cursor: pointer;
    color: #135EC5;
    font-size: 0.8vw;
    font-weight: bold;
}
.header-conteiner__menu>button:hover{
    color: #ffffff;
    background-color: #135EC5;
}
.header-conteiner__menu__mail>img{
    width: 1.8vw;
    height: 1.56vw;
    position: relative;
    object-fit: cover;
    margin-right: 0.52vw;
}
.header-conteiner__menu__mail{
    float: right;
    color: #FFFFFF;
    position: relative;
    right: 5.98vw;
    top: 1vw;
}
.header-conteiner__menu__mail:hover{
    color: #135EC5;
}
a{
    color: white;
    height: 0.9vw;
    vertical-align: super;
}
.header-conteiner__menu__phone>img{
    width: 1.8vw;
    height: 1.8vw;
    position: relative;
    object-fit: cover;
    margin-right: 0.52vw;
}

.header-conteiner__menu__phone{
    float: right;
    color: #FFFFFF;
    position: relative;
    right: 2.24vw;
    top: 0.9vw;  
}
.header-conteiner__menu__phone:hover{
    color: #135EC5;
}
main{
    width: 100%;
    background-color: rgb(253, 253, 253);
}
.banner{
    width: 100%;
    background-color: rgb(19, 18, 16);
    height: 46.70vw; 
}
.banner__conteiner{
    width: 94vw;
    margin: 0 auto;
    position: relative;
}
.banner__conteiner__text{
    color: rgb(25, 25, 23);
    font-size: 9.63vw;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    word-spacing: 22vw;
    position: relative;
    top: 9vw;
    line-height: 8vw;
}
.banner__conteiner>img{
    position: absolute;
    top: 14vw;
    left: 23vw;
    width: 46vw;
    transition: 2s;
}
.banner__conteiner>img:hover{
    transform: scale(1.2);
}
.banner__conteiner__indicator{
    width: 0.78vw;
    height: 3.12vw;
    position: relative;
    float: right;
    top:4vw;
}
.banner__conteiner__indicator div{
    width: 0.62vw;
    height: 0.62vw;
    border-radius: 50%;
    background-color: rgb(60, 60, 60);
    margin-bottom: 0.5vw;
}
.banner__conteiner__indicator div:nth-of-type(2){
    background-color: #135EC5;
}
.banner-nav{
    width: 100%;
    background-color: rgb(19, 18, 16);
}
.banner-nav__conteiner{
    width: 80.99vw;
    margin: 0 auto;
    height: 12.18vw;
}
.banner-nav__conteiner__text{
    text-align: center;
    color: #FFFFFF;
    font-size: 0.93vw;
}
.banner-nav__conteiner input{
    border: none;
    background-color: rgb(19, 18, 16);
    width: 15vw;
    float: left;
    font-size: 1.3vw;
    font-weight: bold;
    color: rgb(61, 61, 61);
    width: 17vw;
    border-bottom: 0.1vw solid rgb(60, 60, 60);
    margin-right: 6.2vw;
    position: relative;
    top: 2vw;
    padding: 1vw 0vw;
}

.banner-nav__conteiner>ul>li ::before{
    content: "";
    display: inline-block;
    width: 17vw;
    height: 1.2vw;
    border-bottom: 0.1vw solid rgb(60, 60, 60, 50%);
    position: absolute;
    top: 0.5vw;
}

.banner-nav__conteiner>button{
    position: relative;
    width: 11.19vw;
    height: 2.86vw;
    border-radius: 5vw;
    background-color: #135ec5;
    padding: 0.1vw;
    font-size: 0.83vw;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    float: right;
    bottom: 1vw;
    right: 2vw;

}
.banner-nav__conteiner>button:hover{
    color: #135ec5;
    background-color: white;
}
.logos{
    width: 100%;
    height: 14.88vw;
    background-color: rgb(253, 253, 253);
    padding-top: 2.08vw;
    box-sizing: border-box;
}
.logos__conteiner{
    width: 93.75vw;
    margin: 0 auto;
}
.logos__conteiner__text{
    position: relative;
    color: #C1C1C1;
    font-size: 0.93vw;
    text-align: center;
}
.logos__conteiner__nav{
    width: 93.75vw;
    margin-top: 3.12vw;
}
.logos__conteiner__nav li{
    display: inline;
    margin-left: 8vw;
}

.logos__conteiner__nav li a img{
    top: 3vw;
    width: 3.64vw;
}

.logos__conteiner__nav li:nth-of-type(2) img{
    width: 6vw;
}
.logos__conteiner__nav li:nth-of-type(5) img{
    width: 6vw;
}
.logos__conteiner__nav li:nth-of-type(6) img{
    width: 3.43vw;
}
.logos__conteiner__nav li:nth-of-type(7) img{
    width: 4.16vw;
}

hr{
    height: 0.05vw;
    top: 14vw;
    width: 100%;
    border: none;
    background-color: #EBEBEB;
}
.banner-button-1{
    width: 100%;
}
.banner-button-1__conteiner{
    width: 80.72vw;
    margin: 0 auto;
    padding-top: 7vw;
    padding-bottom: 11vw;
}
.banner-button-1__conteiner__1{
    width: 41.40vw;
    float: left;
    position: relative;
    padding: 0;
}
.banner-button-1__conteiner__2{
    width: 39.3vw;
    float: left;
}
.banner-button-1__conteiner__1__text{
    font-size: 6.25vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 0 0.46vw rgb(0 0 0 / 7%);
    position: relative;
    top: 0;
}
.banner-button-1__conteiner__1__text:nth-of-type(2){
    position: relative;
    left: 13.02vw;
    bottom: 2vw;
}
.banner-button-1__conteiner__1 img{
    position: absolute;
    top: 3vw;
    left: 1vw;
    width: 27.86vw;
    transition: 2s;
}
.banner-button-1__conteiner__1 img:hover{
    transform: scale(1.2);
}
.banner-button-1__conteiner__2__name{
    position: relative;
    font-size: 3.12vw;
    color: #135EC5;
    font-weight: bold;
    top: 1vw;
}
.banner-button-1__conteiner__2__name__text{
    position: relative;
    font-size: 0.83vw;
    color: #C1C1C1;
    top: 3.12vw;
    line-height: 2.5vw;
}
.banner-button-1__conteiner__2 button{
    position: relative;
    width: 11.19vw;
    height: 2.86vw;
    border-radius: 5vw;
    background-color: #135ec5;
    padding: 0.1vw;
    font-size: 0.83vw;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    float: left;
    top: 6.33vw;
}
.banner-button-1__conteiner__2 button:hover{
    background-color: white;
    color: #135ec5;
    border: 0.2vw solid #135ec5;
}
.banner-button-2{
    width: 100%;
    height: 28.12vw;
    background-color: #135ec5;
    padding-top: 5.98vw;
    padding-bottom: 17.5vw;
    box-sizing: border-box;
}
.banner-button-2__conteiner{
    width: 52vw;
    margin: 0 auto;
    position: relative;
}
.banner-button-2__conteiner__name{
    font-size: 3.12vw;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.banner-button-2__conteiner button{
    position: relative;
    width: 11.19vw;
    height: 2.86vw;
    border-radius: 5vw;
    background-color: #135ec5;
    padding: 0.1vw;
    font-size: 0.83vw;
    cursor: pointer;
    border: solid 0.2vw white;
    color: white;
    font-weight: bold;
    float: left;
    top: 4.16vw;
    left: 20vw;
}
.banner-button-2__conteiner button:hover{
    background-color: #ffffff;
    color: #135ec5;
}
.banner-button-2__conteiner img{
    position: absolute;
    width: 32vw;
    top: 14.06vw;
    left: 8vw;
    transition: 2s;
}
.banner-button-2__conteiner img:hover{
    transform: scale(1.2);
}

aside{
    width: 85vw;
    margin: 0 auto;
    height: 200px;
    padding-top: 13.28vw;
}
.aside-1{
    width: 23.55vw;
    height: 29.68vw;
    box-shadow: 0 0 2vw lightgrey;
    float: left;
    margin-top: 3.12vw;
}
.aside-2{
    width: 50.26vw;
    background-color: rgb(255, 255, 255);
    float: left;
    position: relative;
    left: 11.19vw;
    box-shadow: 0 0 2vw lightgrey;
    position: relative;
}
.aside-1__header{
    width: 100%;
    background-color: #135dc3;
    position: relative;
}
.aside-1__header__text{
    width: 100%;
    display: inline-block;
    font-size: 7.13vw;
    font-weight:800;
    font-family:Arial, Helvetica, sans-serif /*'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif*/;
    position: relative;
    left: -0.4vw;
    color: #135ec5;
}
.aside-1__header button{
    position: absolute;
    width: 4.68vw;
    height: 1.56vw;
    border-radius: 5vw;
    background-color: rgb(255, 255, 255);
    padding: 0.1vw;
    font-size: 0.72vw;
    cursor: pointer;
    border: none;
    color: #135ec5;
    font-weight: bold;
    right: 1.04vw;
    top: 1.35vw;
}
.aside-1__header button:hover{
    background-color: #135ec5;
    color: white;
    border: 0.2vw solid white;
}
.aside-1__header img{
    position: absolute;
    top: 6.25vw;
    right: 4.5vw;
    width: 14.58vw;

}
.aside-1__maine{
    width: 100%;
    padding-top: 7.29vw;
    position: relative;
}
.aside-1__maine__conteiner{
    width: 18.48vw;
    position: relative;
    margin: 0 auto;
}
.aside-1__maine__conteiner__name{
    text-align: center;
    font-size: 1.3vw;
    font-weight: bold;
}
.aside-1__maine__conteiner__name-2{
    text-align: center;
    font-size: 0.72;
    color: #135EC5;
    font-weight: bold;
    margin-top: 0.83vw;
}
.aside-1__maine__conteiner__text{
    text-align: center;
    font-size: 0,93vw;
    color: #C1C1C1;
    margin-top: 1.56vw;
}
.aside-1__maine__conteiner__price{
    float: left;
    font-size: 1.56;
    font-weight: bold;
    color: #16AD2C;
    margin-top: 2.6vw;
}
.aside-1__maine__conteiner button{
    position: relative;
    width: 9.89vw;
    height: 2.34vw;
    border-radius: 5vw;
    background-color: #e2e2e2;
    padding: 0.1vw;
    font-size: 0.83vw;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-weight: bold;
    float: right;
    top: 1.82vw;
}
.aside-1__maine__conteiner button:hover{
    background-color: #135ec5;
    color: white;
    border: 0.2vw solid white;
}
.aside-2__section-1{
    width: 26.56vw;
    padding-top: 3.12vw;
    box-sizing: border-box;
    float: left;
    height: 35.41vw;
}
.aside-2__section-1__conteiner{
    margin: 0 auto;
    width: 21.35vw;
}
.aside-2__section-1__conteiner__text-price{
    font-size: 0.72vw;
    float: left;
    color: #E2E2E2;
    font-weight: bold;
    position: relative;
    top: 0.5vw;
}
.aside-2__section-1__conteiner__price{
    float: right;
    font-size: 1.56vw;
    color: #16AD2C;
    font-weight: bold;
}
.aside-2__section-1__conteiner__name{
    font-size: 1.56vw;
    color: #135ec5;
    font-weight: bold;
    margin-top: 5.3vw;
}
.aside-2__section-1__conteiner__text{
    font-size: 0.83vw;
    color: #C1C1C1;
    line-height: 2.5vw;
    margin-top: 2.34vw;
    width: 17vw;
}
.aside-2__section-1__conteiner button{
    width: 11.19vw;
    height: 2.86vw;
    border-radius: 5vw;
    background-color:#135ec5;
    padding: 0.1vw;
    font-size: 0.83vw;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    margin-top: 4.16vw;
    bottom: 0vw;
}
.aside-2__section-1__conteiner button:hover{
    background-color: white;
    color: #135ec5;
    border: 0.2vw solid #135ec5;
}
.aside-2__section-2{
    float: left;
    width: 23.65vw;
    background-color: #135ec5;
    padding-top: 2.86vw;
    height: 35.41vw;
}
.aside-2__section-2__conteiner{
    width: 20vw;
    margin: 0 auto;
}
.aside-2__section-2__conteiner button{
    width: 4.68vw;
    height: 1.56vw;
    border-radius: 5vw;
    background-color: rgb(255, 255, 255);
    padding: 0.1vw;
    font-size: 0.72vw;
    cursor: pointer;
    border: none;
    color: #135ec5;
    font-weight: bold;
    float: right;
}
.aside-2__section-2__conteiner button:hover{
    background-color: #135ec5;
    color: white;
    border: 0.2vw solid white;
}
.aside-2__section-2__conteiner img{
    width: 27.6vw;
    top: 3.43vw;
    right: 5.7vw;
    position: relative;
}
.aside-2__section-2__conteiner__indicator{
    width: 3.2vw;
    margin: 0 auto;
    position: relative;
    top: 7.96vw;
}
.aside-2__section-2__conteiner__indicator div{
    width: 0.31vw;
    height: 0.31vw;
    background-color: #1550a1;
    border-radius: 50%;
    float: left;
    margin-right: 1vw;
}
.aside-2__section-2__conteiner__indicator div:nth-of-type(3){
    margin-right: 0vw;
}
.aside-2__section-2__conteiner__indicator div:nth-of-type(2){
    width: 0.52vw;
    height: 0.52vw;
    background-color: #ffffff;
    position: relative;
    bottom: 0.1vw;
}
footer{
    width: 76.3vw;
    height: 45.10vw;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    top: 7.81vw;
    box-shadow: 0 0 2vw lightgrey;
    padding-top: 3.12vw;
    box-sizing: border-box;
}
nav{
    width: 72.39vw;
    margin: 0 auto;
    height: 23.9vw;
}
.footer__nav-1{
    width: 100%;
    height: 7vw;
    
}
.footer__nav-1 input{
    border: none;
    font-size: 0.93vw;
    font-weight: bold;
    color: #c1c1c1;
    width: 15.83vw;
    padding: 1.14vw 0vw;
    box-sizing: border-box;
    border-bottom: 0.05vw solid #EBEBEB;
    margin-right: 2.68vw;
}
.footer__nav-1 input::-webkit-input-placeholder{
    color: rgb(193, 193, 193);
}
.footer__nav-1 :nth-of-type(4){
    margin-right: 0vw;
}
.footer__hr{
    width: 76.3vw;
    height: 0.05vw;
    border: none;
    background-color: #EBEBEB;
    opacity: 50%;
    position: absolute;
    top: 9.3vw;
}
.footer__nav-1 input:focus{
    color: black;
}
.footer__nav-1 :nth-of-type(2){
    background-image: url(./img/Pin.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
    background-size: 1vw;
}
.footer__nav-logos{
    width: 100%;
    height: 9.63vw;
    padding-top: 2.6vw;
    padding-bottom: 4.42vw;
    box-sizing: border-box;
}
.footer__nav-logos li{
    display: inline-block;
    margin-right: 8.1vw;
}
.footer__nav-logos li>a img{
    width: 2.65vw;
}
.footer__nav-logos li:nth-of-type(2) img{
    width: 4vw;
}
.footer__nav-logos li:nth-of-type(5) img{
    width: 4vw;
}
.footer__nav-logos li:nth-of-type(7){
    margin-right: 0;
}
.footer__nav-2{
    width: 100%;
    height: 7vw;
}
.footer__nav-2 input{
    border: none;
    font-size: 0.93vw;
    font-weight: bold;
    color: #000000;
    width: 15.81vw;
    padding: 1.14vw 0vw;
    box-sizing: border-box;
    border-bottom:  0.05vw solid #EBEBEB;
    margin-right: 2.68vw;
}
.footer__nav-2 input::-webkit-input-placeholder{
    color: rgb(193, 193, 193);
}
.footer__nav-2 :nth-of-type(4){
    margin-right: 0vw;
}
.footer{
    width: 100%;
    height: 19.63vw;
    background-color: #135ec5;
    position: relative;
}
.footer__hide{
    position: relative;
    width: 9.63vw;
    height: 2.5vw;
    border-radius: 0.8vw;
    background-color: #135ec5;
    padding: 0.6vw;
    font-size: 0.62vw;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    top: -1.4vw;
}
.footer nav{
    width: 72vw;
    height: 14.85vw;
    margin: 0 auto;
}
.footer__footer__nav{
    width: 100%;
    position: relative;
}
.footer__footer__nav input{
    border: none;
    font-size: 0.93vw;
    font-weight: bold;
    color: #ffffff;
    width: 15.8vw;
    padding: 1.14vw 0vw;
    box-sizing: border-box;
    border-bottom:  0.05vw solid #6D90D4;
    margin-right: 2.6vw;
    background-color: #135ec5;
}
.footer__footer__nav :nth-of-type(4){
    margin-right: 0;
}
.footer__footer__nav input::-webkit-input-placeholder{
    color: #6D90D4;
}
.footer nav div:nth-of-type(2){
    top: 3.28vw;
}
.footer button{
    width: 11.19vw;
    height: 2.86vw;
    border-radius: 5vw;
    background-color:#ffffff;
    padding: 0.1vw;
    font-size: 0.83vw;
    cursor: pointer;
    border: none;
    color: #135ec5;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    display: block;
    top: 6.5vw;
}
.footer button:hover{
    background-color: #135ec5;
    color: white;
    border: 0.2vw solid white;
}
