.buttonholder {
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

.buttonholder input {
    background-color: rgba(22, 160, 133, 1);
    border: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px 46px 19px 46px;
    border-radius: 5%/10%;
    cursor: pointer;
}
