.section{
    background-color: rgb(255, 233, 109);
}
table{
    border-collapse: separate; /*Як вирівняти заголовки таблиці?*/
    border-spacing: 5px;
    margin: 0 auto;
    font-size: 25px;
    padding: 50px;
}
th{
    text-align: left;
}