body{
    text-decoration: none;
    list-style: none;
    background-color: black;
    color: rgb(248, 223, 98);
    margin: 0;
    padding: 0;
}
.saleBtn{
    width: 15%;
    position: fixed;
    cursor: pointer;
    left: 80%;
    top: 71%;
    z-index: 25;
}
a{
    text-decoration: none;
    color: rgb(248, 223, 98);
    cursor: pointer;
}
a:hover{
    color: coral;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    box-sizing: border-box;
    background-color: rgb(102, 52, 149, 55%);

    
}
.header_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
   
}
.logo{
    width: 6%;
    transform: rotateY(0deg) rotate(0deg);
    transition: transform 2s;
}
.logo:hover{
    transform:  rotateY(180deg) rotate(0deg); 
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.header_menue{
    margin-top: 2.5%;
    display: flex;
    flex-direction: row; 
    margin-left: auto 
}
li{
    color: rgb(24, 219, 43);
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
    
}


main{
    padding-top: 8%;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
h1{
    text-align: center;
    margin-top: 2%;
}
.main_container{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.pizza_result{
    width: 50%;
    padding: 5%; 
    box-sizing: border-box;
    position: relative;
}
.total_container{
    display: flex;
    margin-top: 10%;
}
#button_order{
    cursor: pointer;
    margin-left: auto;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    color:  rgb(248, 223, 98); 
    background-color: black;
    box-shadow: 0 0 5px 10px rgb(102, 52, 149, 55%);
    transition: 1s;
}
#button_order:hover{
    color: coral; 
    box-shadow: 0 0 5px 10px  coral;
}
.pizza_constructor{
    width: 50%;
    padding:5%;
    box-sizing: border-box;
    box-shadow: 0 0 5px 10px rgb(102, 52, 149, 55%);
}
.item{
    position: absolute;
    overflow: hidden;
    padding: 10%;
    box-sizing: border-box;
    top: 5%;
    left: 6%;
}
.item_Display_hide{
    display: none;
}
.item_Display_active{
    display: block;
}
.pizza_size{
    text-align: center;
}
.span_input{
    font-size: 18px;
    margin-right: 1%;
}
h2{
    text-align: center;
}
.h2{
    font-size: 24px;
}
.item_menue_container{
    display: flex;
    margin-top: 5%;
}
.item_menue{
    overflow: hidden;
    box-sizing: border-box;
    width: 40%;
    padding: 5%;
    margin: 0 auto;
}
.item_menue_wrapper{
    text-align: center;
}
.button_delete{
    margin-left: 2%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: rgb(248, 223, 98);
    border: 1px solid rgb(248, 223, 98);
    background-color: black;
    margin-top: 5%;
    cursor: pointer;
}

.button_delete:hover{
    color: coral;
}
.price{
    margin-top: 5%;
}
footer{
    margin-top: 5%;
    background-color: rgb(102, 52, 149, 55%);
    
}
.footer_container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer_menue{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

/*FORM*/
.form_container{
    position: absolute;
    width: 465px;
    background-color: black;
    border-radius: 15px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
    box-sizing: border-box;
    padding-bottom: 25px;
    top:65%;
    left: 40%;
    box-shadow: 0 0 5px 10px rgb(102, 52, 149, 55%);
}
.form_title{
    color: rgb(248, 223, 98);
    font-size: 35px;
    font-family: sans-serif;
}
.form_input{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    border: 1px solid rgb(102, 52, 149, 55%);
    background-color: black;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    color:  rgb(248, 223, 98);
}
.form_input::-webkit-input-placeholder{
    color:  rgb(248, 223, 98);
    font-weight: lighter;
    font-size: small;
   
}
#form_name{
    margin-top: 70px;
}

.form_button{
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    color:  rgb(248, 223, 98);
    cursor: pointer;
    background-color: black;
}

#form_buttonRegister{
    margin-top: 65px;
    box-shadow: 0 0 5px 10px rgb(102, 52, 149, 55%);
    cursor: pointer;
    transition: 1s;
}
#form_buttonRegister:hover{
    box-shadow: 0 0 5px 10px coral;
    color: coral;
}
#form_buttonSingIn{
    margin-top: 20px;
    box-shadow: 0 0 5px 10px rgb(102, 52, 149, 55%);
    cursor: pointer;
    margin-top: 10%;
    transition: 1s;
}
#form_buttonSingIn:hover{
    box-shadow: 0 0 5px 10px coral;
    color: coral;
}
.hide{
    display: none;
}
.error{
    box-shadow: 0 0 5px 5px rgba(255, 43, 43, 0.548);;
}

#slider {
    position: relative;
    height: 400px;
    overflow: hidden;
    width: 80%;
    margin: 30px auto;
}
#slider img {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

#slider img:first-child {
    display: block;
    left: 0;
}

#prev,
#next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: white;
}
#prev:hover, #next:hover{
    cursor: pointer;
    background-color: #7db122;
}

#banner{
    width: 100%;
    height: 350px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}