* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
body,html{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.header__menu{
    display: flex;
    flex-direction: row;
}
.header__menu>a img{
    width: 155px;
    padding-right: 74px;
   
}
.header__menu>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 10px;
}
.header__menu>ul li{
    text-transform: uppercase;
    color: black;
}
.header__menu>ul li a{
    color: black;
}
.header__menu>ul li a:hover{
    font-weight: bold;
}
.header__menu__circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(174, 174, 174, 1);
    margin-left: 25px;
}
select{
    background: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    height: 16px;
    margin-top: 10px;
    margin-left: 4px;
}
.header__nav{
    margin-top: 25px;
}
.header__nav ul{
    display: flex;
    flex-direction: row;
}
.header__nav ul li{
    margin-right: 2px;
}
.header__nav ul li a{
    color: black;
    font-size: 18px;
}
.header__nav ul li ::after{
    content: "/";
}
.header__nav ul li:nth-child(3) ::after{
    content: "";
}
main{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
main>aside{
    display: flex;
    flex: 1 1 257px;
}
main>aside div{
    font-size: 30px;
    font-weight: bold;
    margin-top: 48px;
}
main>article{
    flex: 1 1 915px;
    display: flex;
    flex-direction: column;
   
}
main>article>img{
    max-width: 915px;
}
.article__conteiner{
    margin-top: 48px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.article__conteiner p{
    margin-top: 33px;
}

footer{
    display: flex;
    flex-direction: row;
    margin-top: 83px;
    justify-content: space-between;
    flex-grow: 1;
}
footer a{
    color: black;
}