body{
    background-color: darkgrey;
}
.form{
    width: 450px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 17px;
    box-shadow: 0 0 7px rgb(158, 158, 158);
    padding-top: 110px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.form-conteiner{
    width: 350px;
    height: 320px;
    margin: 0 auto;
    position: relative;
}
.form-conteiner__name{
    font-size: 32px;
    text-align: center;
}
.form-conteiner input{
    width: 347px;
    border: none;
    border-bottom: 2px solid rgb(178, 178, 178);
    padding-bottom: 10px;
    box-sizing: border-box;
    font-size: 17px;
    position: relative;
    margin-top: 45px;
    padding-top: 12px;
}
.form-conteiner input:focus{
    color: rgb(0, 0, 0);
}
.form-conteiner input::-webkit-input-placeholder{
    color: rgb(164, 164, 164);
}
.form-conteiner input:nth-of-type(2){
    background-image: url(./Icon/eye.ico);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: .5px;
}
.form-conteiner input[type=submit]{
    width: 350px;
    height: 55px;
    border-radius: 27px;
    background: linear-gradient(90deg, #24D1FD, #B523FF);
    display: block;
    margin: 0 auto;
    margin-top: 55px;
    color: white;
    padding-top: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all.3s;
}
.form-conteiner input[type=submit]:hover{
    transform: scale(1.1);
    background: linear-gradient(90deg, #65dffe, #ba30ff, #fffb2a);
}
.text{
    width: 350px;
    height: 20px;
    position: relative;
    top: 100px;
    text-align: center;
    margin: 0 auto;
}
.text a{
    text-decoration: none;
    color: black;
}